SCRAM-SHA-224 and SCRAM-SHA-384 support request

> > There's no RFC for these algorithms, right?

>   @ehuelsmann: It is based on SHA-1 RFC and it has been in https://metacpan.org/pod/Authen::SCRAM.
To move people from Authen::SCRAM it is really important too.
SCRAM-SHA-512 is like SCRAM-SHA3-512, already supported by some projects...

_Originally posted by @Neustradamus in https://github.com/gbarr/perl-authen-sasl/issues/9#issuecomment-1666869426_
            

@neustradamus, I beg to differ. [RFC 5802 section 10](https://datatracker.ietf.org/doc/html/rfc5802#section-10) says specifically relating to the use of SCRAM in relation to SASL:

> Note to future SCRAM-mechanism designers: each new SCRAM-SASL mechanism *__MUST__* be explicitly registered with IANA and MUST comply with SCRAM-mechanism naming convention defined in [Section 4](https://datatracker.ietf.org/doc/html/rfc5802#section-4) of this document.

When you look up the [iana registry](https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml), there's a section which implements this requirement and it lists only SHA-1 and SHA-256.

sorry, this should have been on my own repo.

No, I can't: it's not my repository.